<!DOCTYPE html>
<html lang="en">
  <head>
    <title>helpdeck<%= ": #{title}" if title %></title>
    <%= include_stylesheets :framework, :application %>
    <%= include_javascripts :framework, :application %>
    <link rel="shortcut icon" href="/images/favicon32.png" type="image/x-icon"/>
    <link rel="apple-itouch-icon" href="/images/favicon32.png" />
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div class="row" style="height:100%;">
      <aside class="col col_4" draggable="true">
        <header>
          <div class="logo">
            <a href="<%= root_url %>" title="helpdeck">
              <img class="sprite" alt="helpdack" src="/images/blank.png" />
            </a>
          </div>

          <div class="login">
            <%= render "users/login/twitter" %>
          </div>

          <nav class="mainmenu">
            <ul>
              <li class="<%= 'active' if controller?("topics") && action?("new", "edit")  %>">
                <a href="<%= new_topic_url %>" title="<%=  t "mainmenu.new_topic.hint" %>"><%= raw t "mainmenu.new_topic.link" %></a>
              </li>
              <li><h3>Questions</h3>
                <ul>
                  <li class="<%= 'active' if controller?("topics") && action?("from_me")  %>">
                    <a href="<%= my_topics_url %>" title="<%=  t "mainmenu.topics.from_me.hint" %>"><%= raw t "mainmenu.topics.from_me.link" %></a>
                  </li>
                  <li class="<%= 'active' if controller?("topics") && action?("from_friends")  %>">
                    <a href="<%= friends_topics_url %>"  title="<%=  t "mainmenu.topics.from_friends.hint" %>"><%= raw t "mainmenu.topics.from_friends.link" %></a>
                  </li>
                  <li class="<%= 'active' if controller?("topics") && action?("index") %>">
                    <a href="<%= topics_url %>"  title="<%=  t "mainmenu.topics.from_everybody.hint" %>"><%= raw  t "mainmenu.topics.from_everybody.link" %></a>
                  </li>
                </ul>
              </li>

              <!--li class="">
                <% if current_user %>
                  <a class="" href="/session/destroy/" title="<%= t('user.sign_out.hint') %>">
                    <b><%= t 'user.sign_out.title' %></b>
                  </a>
                <% else %>
                  <a href="/auth/twitter" class="sign_in_with_twitter" title="<%= t('user.sign_in.twitter.hint') %>">
                    <b><%= t('user.sign_in.title') %></b>
                  </a>
                <% end %>
              </li-->
            </ul>
          </nav>
        </header>

        <footer>
          by: <b>Marcelo Eden</b>
          <br/><a href="http://twitter.com/edenwood" target="_blank">@edenwood</a>
          - <a href="http://3den.org" target="_blank">3den.org</a>
        </footer>

        <div class="ads">
          <%= render 'layouts/license' %>
        </div>
      </aside>

      <section class="col col_12">
        <div class="top"><%= yield :top %></div>
        <div class="content">
          <div class="messages">
            <% flash.each do |name, msg| %>
              <p class="<%= name %> rounded box_shadow">
                <%= raw msg %>
              </p>
            <% end %>
          </div>

          <section id="main">
            <h1><%=  title %></h1>
            <%= yield %>
          </section>
        </div>
        <div class="bottom"><%= yield :bottom %></div>
        <div id="ajax_message"></div>
        <div id="ajax_loading">
          <img src="/images/ajax-loader-bar.gif" title="loading" alt="loading..." />
        </div>
      </section>
      <div class="clear"></div>
    </div>
  </body>
</html>